<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>projectDemo</display-name>
  <servlet>
    <servlet-name>ChangeUrlServlet</servlet-name>
    <servlet-class>com.etc.controller.ChangeUrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUrlServlet</servlet-name>
    <url-pattern>/ChangeUrlServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CheckCode</servlet-name>
    <servlet-class>com.etc.controller.CheckCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogCheck</servlet-name>
    <servlet-class>com.etc.controller.LogCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeCheckCode</servlet-name>
    <servlet-class>com.etc.controller.ChangeCheckCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeCheckCode2</servlet-name>
    <servlet-class>com.etc.controller.ChangeCheckCode2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeCheckCode3</servlet-name>
    <servlet-class>com.etc.controller.ChangeCheckCode3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.etc.controller.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RecruitmentInfo</servlet-name>
    <servlet-class>com.etc.controller.RecruitmentInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeUrlServlet2</servlet-name>
    <servlet-class>com.etc.controller.ChangeUrlServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalCenter</servlet-name>
    <servlet-class>com.etc.controller.PersonalCenter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FirmServlet</servlet-name>
    <servlet-class>com.etc.controller.FirmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.etc.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResumeServlet</servlet-name>
    <servlet-class>com.etc.controller.ResumeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FirmServlet2</servlet-name>
    <servlet-class>com.etc.controller.FirmServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.etc.controller.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeekerInfo</servlet-name>
    <servlet-class>com.etc.controller.SeekerInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdvertServlet</servlet-name>
    <servlet-class>com.etc.controller.AdvertServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CheckCode</servlet-name>
    <url-pattern>/checkcode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogCheck</servlet-name>
    <url-pattern>/logcheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCheckCode</servlet-name>
    <url-pattern>/changecheckcode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCheckCode2</servlet-name>
    <url-pattern>/ChangeCheckCode2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCheckCode3</servlet-name>
    <url-pattern>/ChangeCheckCode3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeUrlServlet2</servlet-name>
    <url-pattern>/ChangeUrlServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalCenter</servlet-name>
    <url-pattern>/PersonalCenter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirmServlet</servlet-name>
    <url-pattern>/FirmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResumeServlet</servlet-name>
    <url-pattern>/ResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecruitmentInfo</servlet-name>
    <url-pattern>/RecruitmentInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirmServlet2</servlet-name>
    <url-pattern>/FirmServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeekerInfo</servlet-name>
    <url-pattern>/SeekerInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdvertServlet</servlet-name>
    <url-pattern>/AdvertServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.etc.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UpLoad</servlet-name>
    <servlet-class>com.etc.controller.UpLoad</servlet-class>
</servlet>
  <servlet>
    <servlet-name>UpLoad2</servlet-name>
    <servlet-class>com.etc.controller.UpLoad2</servlet-class>
  </servlet>

<servlet-mapping>
    <servlet-name>UpLoad</servlet-name>
    <url-pattern>/UpLoad</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpLoad2</servlet-name>
    <url-pattern>/UpLoad2</url-pattern>
  </servlet-mapping>
</web-app>