<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>20200720AjaxDemo</display-name>
  <servlet>
    <servlet-name>FormCheck</servlet-name>
    <servlet-class>com.etc.servlet.FormCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CityList</servlet-name>
    <servlet-class>com.etc.servlet.CityList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.etc.servlet.SearchList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchSuggest</servlet-name>
    <servlet-class>com.etc.servlet.SearchSuggest</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>FormCheck</servlet-name>
    <url-pattern>/FormCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityList</servlet-name>
    <url-pattern>/CityList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchSuggest</servlet-name>
    <url-pattern>/SearchSuggest</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/SearchList</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>